.Feed {
    padding: 10px  10px;
    background-color: white;
    height: fit-content;
    margin: 10px;
    border-radius: 8px;
}

.Feed__input {
    border: 2px solid lightgray;
    border-radius: 40px;
    display:flex;
    padding: 10px;
    color: gray;
    width: 25em;

}

.Feed__input > form {
    display: flex;
    width: 100%;
}

.Feed__input > form > input {
    border: none;
    flex: 1;
    font-weight: 600;
}

.Feed__input > form > button {
    display: none;
}

.Feed__inputOption {
    display: flex;
    justify-content: space-evenly;
}


